<h1>Login</h1>


<form class="" action="/user/login" method="POST">
  <input type="email" name="username" placeholder="Email">
  <input type="password" name="password" placeholder="Password">
  <button type="submit" class="btn" name="login">Login</button>
  <button type="button" class="btn #80d8ff light-blue accent-3" name="button"><a class='white-text' href="/user/signup">signup</a></button>
</form>
