<h1>Setting Page</h1>

<form class="" action="/user/setting" method="POST">
  <input type="text" name="city" placeholder="City">
  <input type="text" name="state" placeholder="State">
  <button type="submit" class='btn' name="submit" value='position'>Save</button>
</form>

<form class="" action="/user/setting" method="POST">
  <input type="password" name="password" placeholder="Password">
  <input type="password" name="password2" placeholder="Password again">
  <button type="submit" class='btn' name="submit" value='password'>Save</button>
</form>
